body{
    background-color: crimson;
}

h1{
    text-align: center;
}

div{
    background-color: aquamarine;
    text-justify: auto;
}

img {
    width: 50%;
    border: 2px solid black;
    margin: auto;
    display: block;
}

.lista {
    list-style-type: upper-roman;
    padding-left: 50px;
}

.nuevoparrafo {
    color: green;
    font-size: 20px;
    text-align: center;
}
